/* line 17, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 33, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 46, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 67, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 77, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 87, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 103, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 109, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 122, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 154, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 160, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 166, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 173, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 179, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 186, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 195, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 208, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 219, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
q {
  quotes: none;
}

/* line 226, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 232, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 239, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 247, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 251, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 261, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 270, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 277, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 287, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 304, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 313, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 323, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 333, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
form {
  margin: 0;
}

/* line 340, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 350, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 363, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 377, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 387, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 400, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 410, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 424, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 429, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 438, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 447, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 458, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, /home/dick/workspace/mixed_myth/vendor/bundle/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_layout.scss */
body {
  margin: 0em;
  background-color: #cbf4f9;
  z-index: -2;
}

/* line 27, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_layout.scss */
header {
  width: 100%;
  background-color: black;
}

/* line 31, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_layout.scss */
article {
  width: 95.83333%;
  margin-top: 1em;
  margin-left: 2.08333%;
  margin-right: 2.08333%;
  margin-bottom: 2em;
  background-color: #fcf9e8;
}

/* line 39, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_layout.scss */
section {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: block;
  z-index: -1;
}

/* line 47, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_layout.scss */
aside {
  width: 33.33333%;
  background-color: #e6aa1e;
}

/* line 51, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_layout.scss */
footer {
  width: 100%;
  padding: 1em;
  background-color: #f5dda5;
}

/* line 8, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.nav-header {
  width: 100%;
  background-color: #eb514c;
  margin-bottom: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNzQ3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNTE0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef7470), color-stop(100%, #eb514c));
  background-image: -moz-linear-gradient(#ef7470, #eb514c);
  background-image: -webkit-linear-gradient(#ef7470, #eb514c);
  background-image: linear-gradient(#ef7470, #eb514c);
}

/* line 15, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
#nav-heading {
  margin-top: -.5em;
  margin-bottom: 0;
  padding: 1em;
  width: 100%;
  color: #fcf9e8;
  text-align: left;
}

/* line 23, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
nav {
  width: 100%;
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNzQ3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNTE0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef7470), color-stop(100%, #eb514c));
  background-image: -moz-linear-gradient(#ef7470, #eb514c);
  background-image: -webkit-linear-gradient(#ef7470, #eb514c);
  background-image: linear-gradient(#ef7470, #eb514c);
  position: absolute;
  transform: translateX(-200%);
  transition: transform .6s ease;
}
/* line 31, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 35, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
nav ul li {
  font-family: 'Playfair Display SC';
  font-size: 110%;
}
/* line 39, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
nav ul li a {
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  text-decoration: none;
  color: #fcf9e8;
}
/* line 45, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
nav ul li a:hover {
  background-color: #bc413d;
}
/* line 48, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
nav ul li a:active {
  color: #eb514c;
  background-color: #8d312e;
}

/* line 56, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.active-menu {
  color: #eb514c;
  background-color: #f5dda5;
}

/* line 60, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.open-menu {
  transform: translateX(0);
}

/* line 67, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.submenu-toggle {
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
  text-decoration: none;
  color: #fcf9e8;
}
/* line 73, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.submenu-toggle:hover {
  background-color: #bc413d;
}
/* line 76, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.submenu-toggle:active {
  color: #eb514c;
  background-color: #8d312e;
}

/* line 81, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.close-submenu {
  max-height: 0;
  overflow: hidden;
  background-color: #f39794;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* line 88, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.close-submenu > li {
  font-size: 90%;
  border: none;
}

/* line 92, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.close-submenu > li:first-child {
  border-top: 1px solid #8d312e;
}

/* line 95, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.close-submenu > li:last-child {
  border-bottom: 1px solid #8d312e;
}

/* line 98, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.open-submenu {
  max-height: 400px;
  background-color: #f39794;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* line 104, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.open-submenu > li {
  font-size: 90%;
  border: none;
}

/* line 108, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.open-submenu > li:first-child {
  border-top: 1px solid #8d312e;
}

/* line 111, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
.open-submenu > li:last-child {
  border-bottom: 1px solid #8d312e;
}

@media (min-width: 590px) {
  /* line 119, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
  nav {
    width: 66.66667%;
  }
}
@media (min-width: 750px) {
  /* line 125, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
  nav {
    width: 50%;
  }
}
@media (min-width: 910px) {
  /* line 131, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_navbar.scss */
  nav {
    width: 33.33333%;
  }
}
/* line 8, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 300%;
  font-weight: 650;
}

/* line 13, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
header h1 {
  margin-left: 8.33333%;
  margin-right: 8.33333%;
  text-align: center;
  color: #eb514c;
  background-color: #f5dda5;
}

/* line 20, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 150%;
  font-weight: 200;
}

/* line 25, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
article h2 {
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 0em;
  text-align: center;
  color: #eb514c;
}

/* line 32, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
h3 {
  font-family: 'Playfair Display SC', serif;
  font-size: 95%;
  font-weight: 200;
}

/* line 37, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
header h3 {
  margin-left: 4.16667%;
  margin-right: 4.16667%;
  padding: .5em;
  text-align: center;
  background-color: #f5dda5;
  color: #eb514c;
}

/* line 45, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
h4 {
  font-family: 'Playfair Display SC';
  font-size: 110%;
  font-weight: 200;
}

/* line 50, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
footer h4 {
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
  color: #eb514c;
}

@media (min-width: 420px) {
  /* line 58, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h1 {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  /* line 63, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h3 {
    margin-left: 16.66667%;
    margin-right: 16.66667%;
    padding: .5em;
    width: 66.66667%;
    font-size: 110%;
  }
}
@media (min-width: 590px) {
  /* line 76, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h1 {
    margin-right: 4.16667%;
    margin-left: 54.16667%;
    width: 41.66667%;
  }

  /* line 81, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h3 {
    margin-left: 45.83333%;
    margin-right: 4.16667%;
    padding: .5em;
    width: 50%;
  }
}
@media (min-width: 750px) {
  /* line 93, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h1 {
    display: inline-block;
    width: 33.33333%;
    margin-top: 3em;
    margin-right: 4.16667%;
    margin-left: 62.5%;
    padding-top: .2em;
    padding-bottom: .2em;
  }

  /* line 102, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h3 {
    display: inline-block;
    width: 45.83333%;
    margin-right: 4.16667%;
    margin-left: 50%;
    padding: .5em;
    font-size: 125%;
  }

  /* line 110, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  h2 {
    font-size: 200%;
  }
}
@media (min-width: 910px) {
  /* line 116, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h1 {
    display: inline-block;
    width: 33.33333%;
    margin-top: 3em;
    margin-right: 4.16667%;
    margin-left: 62.5%;
    padding-top: .2em;
    padding-bottom: .2em;
    font-size: 400%;
  }

  /* line 126, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h3 {
    display: inline-block;
    width: 50%;
    margin-right: 4.16667%;
    margin-left: 45.83333%;
    padding: .5em;
    font-size: 175%;
  }

  /* line 134, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  h2 {
    font-size: 200%;
  }
}
@media (min-width: 1070px) {
  /* line 140, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h1 {
    display: inline-block;
    width: 29.16667%;
    margin-top: 3em;
    margin-right: 4.16667%;
    margin-left: 66.66667%;
    padding-top: .2em;
    padding-bottom: .2em;
  }

  /* line 149, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  header h3 {
    display: inline-block;
    width: 45.83333%;
    margin-right: 4.16667%;
    margin-left: 50%;
    padding: .5em;
    font-size: 175%;
  }

  /* line 157, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_headings.scss */
  h2 {
    font-size: 200%;
  }
}
/* line 8, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_text.scss */
article p {
  margin: 0;
  padding-top: 0em;
  padding-bottom: 1em;
  padding-left: .75em;
  padding-right: .75em;
  font-family: 'Poiret One';
  font-size: 100%;
  font-weight: 600;
  text-indent: 1em;
  color: #171303;
}

/* line 20, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_text.scss */
article p::first-letter {
  font-size: 120%;
  color: #eb514c;
}

/* line 24, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_text.scss */
footer h4 {
  font-family: 'Playfair Display SC';
  font-size: 100%;
  font-weight: 400;
  text-align: center;
  color: #eb514c;
}

@media (min-width: 750px) {
  /* line 33, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_text.scss */
  article p {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 110%;
  }
}
/* line 1, /home/dick/workspace/mixed_myth/app/assets/stylesheets/partials/_extras.scss */
.divider {
  width: 50%;
  max-width: 300px;
  margin-bottom: .5em;
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}
