<% provide(:title, "About") %>
<section>
  <h2>About Mixed Myth</h2>
  <p>Mixed Myth is a discussion forum tailored for interactive storytelling.</p>
  <h3>Compelling Characters</h3>
  <p>Members are encouraged to design well-made, interesting characters which are compelling to the reader.</p>
  <h3>Intriguing Stories</h3>
  <p>Stories on Mixed Myth are written and driven entirely by the community so that you can craft the story that you've always wanted to tell.</p>
  <h3>Growing Community</h3>
  <p>The community of Mixed Myth is small and tight-knit, with plenty of room for newcomers. The moderators promote and open and inclusive environment so that everyone can have an enjoyable experience.</p>
</section>

