// ======================
//  Text
// ======================

//  Sections
// ======================

section p {
    margin: 0;
    padding-top: 0em;
    padding-bottom: 1em;
    padding-left: .75em;
    padding-right: .75em;
    font-family: 'Poiret One';
    font-size: 100%;
    font-weight: 600;
    text-indent: 1em;
    color: $neutral-dark;
}
section p::first-letter {
    font-size: 120%;
    color: $one;
}

@include breakpoint($M) {
    section p {
        padding-left: 2em;
        padding-right: 2em;
        font-size: 110%;
    }
}
