<div class="nav-header">
  <h4 class="nav-toggle" id="nav-heading">Menu</h4>
</div>
<nav>
  <ul>
      <li><%= link_to "home", root_path %></a></li>
      <li class="submenu-toggle" id="subtoggle1">Resources</li>
      <ul id="submenu-1" class="close-submenu">
          <li></li>
          <li></li>
          <li></li>
      </ul>
      <li class="submenu-toggle" id="subtoggle2">Settings</li>
      <ul id="submenu-2" class="close-submenu">
          <li></li>
      </ul>
      <li><%= link_to "about", about_path %></li>
  </ul>
</nav>