<!DOCTYPE html>
<html>
  <head>
    <title>Mixed Myth</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>Mixed Myth</h1>
      <h4>This is the sub-title</h4>
    </header>
    <%= yield %>
    <footer>
      <h4>&cp; Copyright 2015 Mixed Myth</h4>
    </footer>
  </body>
</html>
